<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, inital-scale=1.0">
  <title>Login Page</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style1.css') }}">
</head>
<body>
  <div class="container">
      <div class="title">Chicago Crimes</div>
      <form action="/dashboard" method="POST">
        <div class="user-details">
          <div class="input-box">
              <span class="details">Home Latitude</span>
              <input type="text" name="home_latitude" placeholder="Enter Home Location Latitude" required>
          </div>
          <div class="input-box">
              <span class="details">Home Longitude</span>
              <input type="text" name="home_longitude" placeholder="Enter Home Location Longitude" required>
          </div>
          <div class="input-box">
              <span class="details">Destination Latitude</span>
              <input type="text" name="destination_latitude" placeholder="Enter Destination Location Latitude" required>
          </div>
          <div class="input-box">
              <span class="details">Destination Longitude</span>
              <input type="text" name="destination_longitude" placeholder="Enter Destination Location Longitude" required>
          </div>
          <div class="input-box">
              <span class="details">Year</span>
              <select name="year" style="width: 300px"required>
                  <option value="2021">2021</option>
                  <option value="2022">2022</option>
                  <option value="2023">2023</option>
              </select>
          </div>
          <div class="input-box">
              <span class="details">Start Date</span>
              <input type="date" name="start_date" min="2021-01-01" max="2023-12-31" placeholder="Enter Start Date" required>
          </div>
          <div class="input-box">
              <span class="details">End Date</span>
              <input type="date" name="end_date" min="2021-01-01" max="2023-12-31" placeholder="Enter End Date" required>
          </div>
          <div class="input-box">
              <span class="details">Select Chart Type</span>
              <select name="chart_type" style="width: 300px"required>
                  <option value="barChart">Bar Chart</option>
                  <option value="sideBySideBarChart">Side By Side Bar Chart</option>
                  <option value="lineChart">Line Chart</option>
                  <option value="scatterPlot">Scatter Plot</option>
                  <option value="pieChart">Pie Chart</option>
                  <option value="heatMap">Co-relation Heatmap</option>
                  <option value="statistics">Statistics</option>
              </select>
          </div>
          <div class="input-box">
              <span class="details">Select Data For Chart Type</span>
              <select name="column_name" style="width: 300px">
                  <option value="primary_type">Primary Type</option>
                  <option value="arrest">Arrest</option>
                  <option value="block">Block</option>
                  <option value="location_description">Location Description</option>
                  <option value="Month">Month</option>
                  <option value="Day">Day</option>
                  <option value="latitude">Latitude</option>
                  <option value="longitude">Longitude</option>
              </select>
          </div>
        <div class="button">
          <button type="submit" id="submit">Submit</button>
        </div>
        </div>

      </form>
    </div>

</body>
</html>
